* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  /* height: 5rem; */
  background-color: gold;
}
main {
  background-color: antiquewhite;
  height: 70vh;
}
footer {
  height: 10rem;
  background-color: orange;
  padding: 10px;
}
section {
  height: 100%;
}
.display-flex {
  display: flex;
}

.header-container > div {
  color: black;
  padding: 10px;
}

.header-container {
  flex-direction: row;
  height: 100%;

  align-items: center;
  border: thin solid gray;
  justify-content: space-between;
}
.logo {
  /* width: 30%; */
  height: 100%;
}
.header-left-bar {
  justify-content: flex-end;
  align-items: center;
  /* width: 60%; */
}
.header-left-bar > div {
  padding: 10px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1em;
  }
  .header-container,
  .header-left-bar,
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-left-bar > input {
    width: 50%;
  }
}

.main-section {
  background-color: antiquewhite;
}
