* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.before-con {
  width: 100%;
  background-color: white;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  /* height: 5rem; */
  background-color: rgb(255, 255, 255);
}
main {
  background-color: antiquewhite;
  /* height: 100vh; */
}
footer {
  height: 10rem;
  background-color: orange;
  padding: 10px;
}
section {
  height: 100%;
}
.display-flex {
  display: flex;
}

.header-container {
  flex-direction: row;
  height: 100%;

  align-items: center;
  /* border: thin solid gray; */
  justify-content: space-between;
}
.logo {
  width: 30%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
.header-left-bar {
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}
.header-left-bar > h4,
input {
  padding: 10px 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1em;
  }
  .header-container,
  .header-left-bar,
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-left-bar > input {
    width: 50%;
  }
}

.main-section {
  background-color: antiquewhite;
}

input[type="text"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
}
.text-deco {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  /* margin: 10px 0; */
}
.big-stone-img {
  width: 100%;
}
.stone-img-deco {
  padding: 10px;
  margin: 10px;
  width: 20%;
  max-height: 20%;
}
.stone-img-align {
  /* flex-wrap: wrap; */
  justify-content: center;
}
